<div class="row" style="height: 10000px;">
    <div class="col" style="height: 10000px;">
        <div class="pt-0" style="height: 10000px;background: #d3d3d3;width: 355px;">
            <section class="py-4 py-xl-5" style="transform: translateY(34px);">
                <div class="container">
                    <div class="row" style="transform: translateY(-39px);">
                        <div class="col">
                            <img src="../assets/images/landlimits.png" width="138" height="150" style="width: 130px;height: 130px;transform: translateX(94px) translateY(16px);">
                        </div>
                    </div>
                    <div class="row mb-5" style="transform: translateY(-2px);">
                        <div class="col-md-8 col-xl-6 text-center mx-auto" style="width: 250px;">
                            <h2 style="font-family: Inter, sans-serif;font-weight: 900;color: #2b2b2b;">ADMIN LOGIN</h2>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="transform: translateY(-39px);">
                        <div class="col-md-6 col-xl-10">
                            <div class="card mb-5" style="background: #d3d3d3;border-style: none;">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <form class="text-center" method="post" style="width: 300px;">
                                        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" style="font-family: Inter, sans-serif;font-size: 13px;background: #f2f2f2;"></div>
                                        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" style="font-size: 13px;font-family: Inter, sans-serif;background: #f2f2f2;">
                                            <div class="form-check" style="transform: translateY(5px);"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="font-family: Inter, sans-serif;font-size: 10px;transform: translateX(-93px) translateY(-2px);color: #2B2B2B;">Remember Password</label></div>
                                        </div>
                                            <div class="mb-3" style="transform: translateY(15px);">
                                                <button class="btn btn-primary d-block w-100" type="submit" style="background: #0eb400;">Login</button>
                                            </div>
                                            <a href="">
                                                <p style="font-size: 10px;transform: translateX(99px) translateY(-85px); font-family: Inter, sans-serif; color: #2B2B2B;">Forgot your password?</p>
                                            </a>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="transform: translateY(-57px);">
                        <div class="col">
                            <p style="font-size: 10px;text-align: center;font-family: Inter, sans-serif;color: #707070;">2023. LandLimits Geodetic Surveying and Consultancy</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container" style="transform: translateX(473px) translateY(-497px);width: 500px;">
                <img src="../assets/images/landlimits.png" width="318" height="326" style="width: 170px;height: 170px;transform: translateX(71px) translateY(71px);">
            </div>

            <div class="container" style="transform: translateX(748px) translateY(-551px);">
                <div class="row">
                    <div class="col">
                        <p style="font-size: 50px;color: #2b2b2b;font-family: Inter, sans-serif;font-weight: 900;letter-spacing: 2px;">LAND</p>
                        <p style="transform: translateX(147px) translateY(-91px);color: #ffa500;font-size: 50px;font-family: Inter, sans-serif;font-weight: 900;letter-spacing: 2px;">LIMITS</p>
                    </div>
                </div>
                <div class="row" style="transform: translateX(0px) translateY(-34px);">
                    <div class="col">
                        <p style="text-align: center;font-family: Inter, sans-serif;font-size: 13px;font-weight: 500;color: #2b2b2b;transform: translateY(-90px);">Geodetic Surveying and Consultancy</p>
                    </div>
                </div>
            </div>
            <div class="container text-center d-flex float-none justify-content-sm-center align-items-sm-center" style="transform: perspective(0px) translate(-32px) translateX(770px) translateY(-686px);border-radius: 25%;"><a class="social-link" href="https://www.facebook.com/landlimits" target="_blank" style="margin: 0px 5px;background: #2B2B2B;border-radius: 50%;"><i class="fa fa-facebook social-link-icon" style="color: #F2F2F2;font-weight: 200;"></i>
                    <div class="social-link-effect"></div>
                </a><a class="social-link" href="https://www.instagram.com/landlimits/" target="_blank" style="margin: 0px 5px;border-radius: 50%;background: #2B2B2B;"><i class="fa fa-instagram social-link-icon" style="color: #F2F2F2;font-weight: 200;"></i>
                    <div class="social-link-effect"></div>
                </a><a class="social-link" href="https://www.landlimits.com/" target="_blank" style="margin: 0px 5px;border-radius: 50%;border-color: #2b2b2b;background: #2b2b2b;"><i class="fa fa-globe social-link-icon" style="color: #F2F2F2;font-weight: 200;"></i>
                    <div class="social-link-effect"></div>
                </a></div>
        </div>
    </div>
</div>